body {
    margin: 0;
}

.restaurant-app > .restaurants-list {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.restaurant-app > .restaurants-list::-webkit-scrollbar {
    width: 7px;
}

.restaurant-app > .restaurants-list::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 15px;
}

.restaurant-list {
    flex-direction: column;
}

.restaurant-list > .img-restaurant-list {
    border-radius: 15px;
    position: relative;
    width: 350px;
    height: 200px;
    transition: transform 1s;
}

.restaurant-list > .img-restaurant-list:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.restaurant-list > .name-restaurant-list {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.restaurant-list > .score-restaurant-list {
    color: #ffb237;
}