body {
    margin: 0;
}

body::-webkit-scrollbar {
    background-color: #ffe2a8;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 15px;
}

.header {
    background-color: #FFC244;
}

.logo {
    cursor: pointer;
    transition: transform 1.5s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.searchInput {
    height: 44px;
    background-color: rgb(243, 243, 243);
    border-radius: 24px;
    position: relative;
    width: 100%;
    padding-left: 32px;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 4.7%;
    transform: translateX(1250%);
}

.startInput {
    height: 44px;
    background-color: #00a082;
    color: white;
    border-radius: 24px 0;
    border: none;
    position: relative;
    width: 150px;
    font-weight: bold;
}

.startInput:hover {
    background-color: #00846b;
}

.restaurant-app > .restaurants-list {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.restaurant-app > .restaurants-list::-webkit-scrollbar {
    width: 7px;
}

.restaurant-app > .restaurants-list::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 15px;
}

.restaurant-list {
    display: grid;
    justify-items: center;
    align-items: flex-start;
}

.restaurant-list > .img-restaurant-list {
    border-radius: 15px;
    position: relative;
    width: 250px;
    height: 150px;
    transition: transform 1s;
}

.restaurant-list > .img-restaurant-list:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.restaurant-list > .name-restaurant-list {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.restaurant-list > .score-restaurant-list {
    color: #ffb237;
}